body {
  background: #5C2751;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}


nav {
  position: relative;
  display: inline;
  margin: 20px auto;
  width: 200px;
}
.unit-list-btn {
  background: #eb1818;
  color: #ececec;
  padding: 16px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
}
.unit-list-btn:hover {
  box-shadow: 0 0 8px 8px #ffffff;
}
.drop-content {
  display: none;
  position: absolute;
  background: #4BC0D9;
  width: 210px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
}
.drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 700;
}
.drop-content a:hover {
  background: #ddd;
}

.show {
  display: block;
}


.title-case {
  background: #6457A6;
  color: #76E5FC;
  width: 100%;
  height: 395px;
  padding: 20px 20px 60px;
  display: flex;
  flex-direction: column;
  justify-self: space-evenly;
  font-size: 1.7rem;
  margin-bottom: 18px;
}
.input {
  border: 3px ridge #9DACFF;
  border-radius: 8px;
  box-sizing: border-box;
  width: 180px;
  height: 90px;
  padding: 8px;
  margin: 10px auto;
  font-size: 2.22em;
  text-align: center;
}

#convert-btn {
  font-size: 0.66em;
  font-family: 'Happy Monkey', system-ui;
  font-weight: 700;
  width: 115px;
  line-height: 60px;
  margin: 1.05vh auto;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-sizing: border-box;
}

#convert-btn:hover {
  background: black;
  color: white;
  box-shadow: 0 0 5px 10px #4BC0D9;
}

#convert-btn:active {
  background: #000;
  color: #4BC0D9;
  box-shadow: 0 0 5px 10px #fff;
}

.convert-case {
  margin-top: 6vh;
}

.sections{
  border: 5px solid rgb(255, 255, 255);
  padding: 20px;
  margin: 25px;
}
.section-title {
  display: inline;
  width: 170px;
  text-align: center;
  font-size: 2.81em;
  color: #76E5FC;
  border-bottom: 2px solid #76E5FC;
}


.result-case {
  color: #76E5FC;
  font-size: 1.56em;
  line-height: 20px;
  margin: 26px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 7px groove #6457A6;
}
.result-case input {
  width: 60vw;
  height: 3.15vh;
  text-align: center;
  font-size: 0.79em;
  font-family: 'Happy Monkey', system-ui;
}

.arrow {
  background: black;
  color: #76E5FC;
  font-weight: 700;
  width: 60px;
  height: 70px;
  border-radius: 100%;
  border: 3px solid #eb1818;
  position: fixed;
  left: 90vw;
  top: 90vh;
  cursor: pointer;
}